*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
}
.main{
    display: inline-flex;

}
.main .child{
    color: #fff;
    font-size: 65px;
    font-weight: 400px;
}
.main .text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}
.text li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide{
    100%{
       top:-360px;
    }
}

.text li span{
    position: relative;
}
.text li span::after{
    content: "";
    position: absolute;
    height: 120%;
    width: 100%;
    left: 0;
    background-color: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
